<!DOCTYPE html>
<html>
	<head>
		<title>Success page</title>
		<style>
			.successContainer{
				display:"flex";
				align-items:"center";
				justify-content:"center";
			}
			div p{
				padding:"10px 15px"
			}
		</style>
	</head>
	<body>
		<div class="successContainer">
		<p>Payment Successful</p>
		<p>Thank you! Your payment has been processed succesfully</p>
		<p>Order Status: confimed</p>
		<p>You will receive a conformation email shortly </p>
		<a href="/" >GO to Home page</a>
		</div>
	</body>
</html>